/* ChatWindow.css */
.message-bubble {
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  position: relative;
  word-break: break-word;
}

.user-msg {
  background-color: #dcf8c6;
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
}

.visitor-msg {
  background-color: #f1f0f0;
  align-self: flex-start;
  margin-right: auto;
  text-align: left;
}
